@model IEnumerable<Biblioteca.Models.Livro>

@{
    ViewData["Title"] = "Livros";
}
<link rel="stylesheet" href="~/css/_FormStyles.css" />
<h1 class="text-3xl font-bold text-gray-800 mb-6">Gestão de Livros</h1>

<div class="flex justify-between items-start mb-4 flex-wrap">
    <div class="nav-links-secondary flex flex-col mb-4 md:mb-0">
        <a asp-action="List" class="btn-back">
            <svg class="h-5 w-5 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
            Listar Livros
        </a>
        <a asp-action="Create" class="btn-back">
            <svg class="h-5 w-5 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path></svg>
            Adicionar Novo Livro
        </a>
        <div>
            <a asp-controller="Exemplars" asp-action="Index" class="btn-back">
                <svg class="h-5 w-5 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 14v3m4-3v3m4-3v3M3 21h18M3 10h18M3 7l9-4 9 4M4 10h16v11H4V10z"></path></svg>
                Gerenciar Exemplares
            </a>
        </div>
        <div>
            <a asp-controller="Generos" asp-action="Index" class="btn-back">
                <svg class="h-5 w-5 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 14v3m4-3v3m4-3v3M3 21h18M3 10h18M3 7l9-4 9 4M4 10h16v11H4V10z"></path></svg>
                Gerenciar Generos
            </a>
        </div>
        @* <a asp-action="Search" class="btn-back">
            <svg class="h-4 w-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
            Pesquisar Livro
        </a> *@
    </div>
