@model Biblioteca.Models.Plano

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Plano</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorMensal" class="control-label"></label>
                <input asp-for="ValorMensal" class="form-control" />
                <span asp-validation-for="ValorMensal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LimiteEmprestimosMensais" class="control-label"></label>
                <input asp-for="LimiteEmprestimosMensais" class="form-control" />
                <span asp-validation-for="LimiteEmprestimosMensais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrazoDevolucaoDias" class="control-label"></label>
                <input asp-for="PrazoDevolucaoDias" class="form-control" />
                <span asp-validation-for="PrazoDevolucaoDias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaxaAtrasoDiariaPercentual" class="control-label"></label>
                <input asp-for="TaxaAtrasoDiariaPercentual" class="form-control" />
                <span asp-validation-for="TaxaAtrasoDiariaPercentual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
